html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

@font-face {
  font-family: "TTLakes";
  src: local("TTLakes-Regular"),
    url("../fonts/TTLakes/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTLakes";
  src: local("TTLakes-Medium"),
    url("../fonts/TTLakes/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTLakes";
  src: local("TTLakes-Bold"),
    url("../fonts/TTLakes/TTLakesCompressed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  color: #000;
  font-family: "TTLakes";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
button {
  border: none;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  display: inline-block;
  align-self: center;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1140px;
  /* padding: 0 10px; */
  margin: 0 auto;
}

/* ------Header------------------------------------- */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  background-color: #fff;
  padding: 19px 16px;
  gap: 0 16px;
}

.menu-left {
  display: flex;
  gap: 0 16px;
}

.menu__btn {
  background-image: url("../images/ic/burger.svg");
}

.menu-right {
  display: flex;
  gap: 0 20px;
}

.menu__list {
  display: none;
  gap: 0 16px;
}

.menu__button--call {
  background-image: url("../images/ic/call.svg");
}
.menu__button--chat {
  background-image: url("../images/ic/chat.svg");
}
.menu__button--profile {
  background-image: url("../images/ic/profile.svg");
}

.info {
  display: flex;
}

.info__header {
  gap: 0 16px;
}

.info__button--repair {
  background-image: url("../images/ic/repair.svg");
}
.info__button--checkstatus {
  background-image: url("../images/ic/checkstatus.svg");
}

.stick {
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background: #eaeaea;
  align-self: center;
}

.stick1 {
  display: none;
}

.title {
  font-family: "TTLakes";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;

  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 40px;
  background-color: transparent;
  background-image: url("../images/ic/stick-blue.svg");
  left: -16px;
}

.header__bottom {
  background-color: #f8f8f8;
  padding: 24px 16px;
}

.info__top {
  display: none;
}

.info__descr {
  display: none;
}

/* ------Main------------------------------------- */
.main__wrapper {
  background-color: #f8f8f8;
}

.menu__list--m {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
  overflow: auto;

  padding: 0 6px 24px 6px;
}

.menu__list--m::-webkit-scrollbar {
  display: none;
}

.main__nav-button {
  font-family: "TTLakes";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;

  color: #7e7e82;
  padding: 8px 16px;
  border: 2px solid transparent;
  background: transparent;
  white-space: nowrap;
}

.main__nav-button:focus,
.main__nav-button:hover {
  padding: 8px 16px;
  border-radius: 6px;
  border: 2px solid #b8ffec;
  background: #fff;
}
/*  */
.feedback {
  display: flex;
  flex-direction: column;
}

.feedback__title {
  display: none;
}

.feedback__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  width: 288px;
}

.box__text {
  max-height: 90px;
  overflow: auto;
  padding-left: 16px;
}

.box__text::-webkit-scrollbar {
  display: none;
}

.feedback-btn {
  font-family: "TTLakes";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 42px;
  position: relative;
  margin-bottom: 16px;
  margin-top: 16px;
}

.feedback-btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  background-image: url(../images/ic/expand.png);
  width: 24px;
  height: 24px;
}

.feedback__main-descr {
  position: relative;
}

.feedback__img {
  position: absolute;
  width: 100%;
  height: auto;
}

/* ------Adaptive------------------------------------- */
@media (min-width: 768px) {
  .header__nav {
    min-width: 725px;
    padding: 19px 24px;
  }

  .menu-left {
    gap: 20px;
  }

  .menu__list {
    display: flex;
  }

  .stick1 {
    display: block;
  }
  /*  */
  .header__bottom {
    padding: 24px 24px 32px 24px;
  }

  .title::before {
    left: -24px;
  }
  /*  */

  .menu__list--m {
    padding: 0 24px 32px 24px;
    gap: 0 16px;
  }
  /*  */
  .feedback {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 24px 40px;
    gap: 48px;
  }

  .box__text {
    max-height: 130px;
    padding: 0;
  }

  .feedback__text {
    padding-left: 0;
    min-width: 312px;
  }

  .feedback__text-s {
    margin-bottom: 20px;
  }

  .feedback-btn {
    padding-left: 25px;
    margin-top: 10px;
  }

  .feedback__img {
    position: static;
    border-radius: 6px;
  }
}

@media (min-width: 1120px) {
  .header__nav {
    display: none;
  }

  .header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 42px 32px 9px 32px;
  }

  .title::before {
    width: 3px;
    left: -32px;
  }

  .info__top {
    display: flex;
    align-items: center;
    gap: 0 8px;
  }

  p + .info__button + p {
    margin-left: 24px;
  }

  .info__descr {
    display: block;
  }
  /*  */

  .menu__list--m {
    padding: 0 32px 15px 32px;
    width: 100%;
    gap: 0;
  }
  /*  */
  .feedback {
    gap: 36px;
  }

  .box__text {
    max-height: 100%;
    padding: 0;
    margin-top: 19px;
  }

  .feedback__main-descr {
    margin-top: 48px;
  }

  .feedback__title {
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .feedback {
    padding: 0 32px 50px;
  }

  .feedback__text {
    width: 490px;
  }
}
